body{
    background-image: url(img/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

*{
    background-image: url(img/img.jpg);
}

header{
    text-align: center;
}
nav{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
   
    
}

.menú{
    color: white;
    display: inline;
    padding-left: 155px;
    padding-right: 145px;
    

}
.a{
    text-decoration: none;
}
aside{
    float: left;
    background-color: black;
    color: white;
    height: 500px;
    width: 150px;
    padding: 10px;
    padding-top: 4px;
    margin-top: 40px;
    text-align: center;
    
}
.imagen1{
    width: 100px;
    height: 100px;
    margin-left: 5px;
}
fieldset{
    background-color: grey;
    margin-left: 250px;
    margin-right: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
}
footer{
    background-color: grey;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
